/* =========================
   기본 리셋
========================= */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #121212;
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

/* =========================
   전체 레이아웃
========================= */
.layout {
  display: flex;
  height: 120vh;
}

/* =========================
   NavBar (왼쪽)
========================= */
.nav {
  width: 360px;
  background: #121212;

  padding: 20px;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav a {
  color: #b3b3b3;
  text-decoration: none;
  font-size: 36px;
}

.nav a:hover {
  color: white;
}

/* =========================
   오른쪽 영역 (Header + Content)
========================= */
.right {
  margin-left: 360px; /* NavBar 폭 */
  width: calc(100% - 200px);
}

/* =========================
   Header (상단 고정)
========================= */
.header {
  position: fixed;
  top: 0;
  left: 360px; /* NavBar 만큼 밀기 */
  right: 0;

  height: 180px;
  background: #181818;

  display: flex;
  align-items: center;

  padding: 0 20px;
  z-index: 1000;
}

/* =========================
   검색창
========================= */
.search {
  position: relative;
  width: 640px;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #b3b3b3;
}

.search input {
  width: 100%;
  height: 72px;

  border-radius: 20px;
  border: none;
  outline: none;

  padding-left: 38px;
  padding-right: 16px;

  background: #2a2a2a;
  color: white;
  font-size: 28px;
}

/* =========================
   Content (페이지 영역)
========================= */
/* =========================
   Home Page (메인 페이지)
========================= */
/* 메인 페이지 전체 */
.home {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-top: 180px;
  margin-left: 20px;
}

.page-title {
  font-size: 40px;
}
/* 위 섹션 */
.top-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.playlist-row {
  display: flex;
  gap: 24px;
  font-size: 30px;
}
.playlist-card {
  min-width: 120px;
  padding: 8px;
}

.playlist-card img {
  aspect-ratio: 1 / 1;
  max-height: 240px;
  border-radius: 24px;
}

/* 아래 섹션 */
.bottom-section {
  margin-top: 0px;
}

/* 랭킹 섹션 3개 */
.rank-sections {
  display: flex;
  gap: 16px;
}

/* 각각의 랭킹 박스 */
.rank-section {
  flex: 1;
  background: #181818;
  border-radius: 24px;
  padding: 16px;
}

/* 제목 */
.rank-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

/* 리스트 */
.rank-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 아이템 */
.rank-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
}

.rank-number {
  width: 20px;
  font-weight: bold;
  color: #1db954;
}

.rank-item:hover {
  background: #222;
  border-radius: 6px;
}
